* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, rgb(19, 13, 39), black);
  height: 100vh;
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  text-shadow: 2px 2px 2px rgb(31, 31, 97);
}

html {
  scroll-behavior: smooth;
}

/* header section// */
header {
  padding: 50px 100px;
  border-bottom: 2px solid white;
}

header h1 {
  margin-bottom: 15px;
}

header h2 {
  margin-bottom: 20px;
}

header a {
  padding: 10px 60px;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: rgb(78, 76, 72);
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 9px;
}

/* menu section// */
#nav {
  background-color: rgb(5, 5, 8);
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
}
#nav a {
  color: #ffffff;
  text-decoration: none;
}

/* planets section// */

#planets,
#stars,
#galaxies {
  padding: 50px 100px;
  border-bottom: 2px solid white;
}

.planet h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#planets img,
#stars img,
#galaxies img {
  border: 2px solid white;
  width: 40%;
  margin-bottom: 20px;
}

/* stars section// */

#stars h3,
#galaxies h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* galaxies section// */

.galaxy p {
  line-height: 1.5rem;
}

/* footer section// */
footer {
  margin-bottom: 30px;
}
footer p,
footer textarea {
  margin-left: 100px;
  margin-top: 40px;
}
footer a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 50px;
  padding: 10px;
  border-radius: 50% 50%;
  background-color: grey;
  position: fixed;
  bottom: 20px;
  right: 50px;
}
